.error{
    height: 80vh;
    width: 100%;;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.error img{
    height: 80%;
    width: inherit;
}
.error-msg{
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-top: 10px;
}